@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    height: 350px;
    width: 300px;
}

body{
    padding: 1rem;
    font-family: 'Rajdhani', sans-serif !important;
}

.header {
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid #1687a7;
    color: #1687a7;
    padding-bottom: 15px;
}

.header .subject {
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 1.7rem;
}

.header .message{
    padding-left: 1rem;
    font-size: 0.9rem;
}

.container {
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: #276678;
    letter-spacing: 2px;
    align-items: center;
    border-bottom: 1px solid #1687a7;
}

.container .lg{
    font-size: 1.1rem;
}

.container a{
    border: 0px;
    height: 45px;
    width: 45px;
    user-select: none;
    transition: 300ms;
    background-color: white;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.35); 
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.35);
    border-radius: 100%;
}

.container a:hover{
    transform: scale(1.1);
    background-color: #d3e0ea;
}

.container a img{
    margin-top: 11px;
}

.speech-text{
    font-size: 1.1rem;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 200ms;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.footer {
    padding-top: 10px;
}

.footer #github-icon{
    margin-left: 10px;
}

.footer #paypal-icon{
    margin-left: 10px;
}
